@font-face {
    font-family: 'azeroth';
    src: url('../fonts/azeroth.eot');
    src: url('../fonts/azeroth.eot?#iefix') format('embedded-opentype'),
         url('../fonts/azeroth.woff2') format('woff2'),
         url('../fonts/azeroth.woff') format('woff'),
         url('../fonts/azeroth.ttf') format('truetype'),
         url('../fonts/azeroth.svg#azeroth') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vingue';
    src: url('../fonts/vingue.eot');
    src: url('../fonts/vingue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vingue.woff2') format('woff2'),
         url('../fonts/vingue.woff') format('woff'),
         url('../fonts/vingue.ttf') format('truetype'),
         url('../fonts/vingue.svg#vingue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
	margin-left: calc(100vw - 100%);
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
	height: 100%;
	background : rgb(36, 36, 36) url("../img/ui/bg.jpg") top center;
	color: rgb(240,240,240);
	cursor: default;
	margin: 0;
}

/* grid */

#wrap {
	display: table;
	width: 100%;
	height: 100%;
}

#wrap > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#gameWrap {
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgb(20, 20, 20);
	border-radius: 5px;
	padding: 5px;
	font-size: 0;
	position: relative;
}

#gameWrap > div {
	font-size: medium;
	vertical-align: top;
}

#gameLeft {
	text-align: left;
	display: inline-block;
}

#gameRight {
	text-align: right;
	display: inline-block;
}

#gameCenter {display: inline-block;}

/* block */

.username {
	font: 28px azeroth;
	color: rgb(246, 130, 0);
	text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.avatar {
	width: 100px;
	height: 100px;
	border: 1px solid rgb(128, 128, 128);
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
}
.avatar.active {border-color: yellow}

.card {
	width: 100px;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgb(70, 70, 70);
	background-size: 100% 100%;
	position: relative; 
}

.card > div {
	position: absolute;
	color: black;
	padding: 3px;
}

.card > .cardCost {
	top: 0px;
	right: 0px;
	background: rgba(255, 0, 255, 0.6);
}

.card > .cardAttack {
	bottom: 0px;
	left: 0px;
	background: rgba(255, 0, 0, 0.8)	
}

.card > .cardDefence {
	bottom: 0px;
	right: 0px;
	background: rgba(0, 255, 0, 0.8)	
}

.card > .cardNoMana {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	padding-top: 40%;
}


.health {display: inline-block; vertical-align: middle}
.health div {
	font: 28px vingue;
}
.health > div {color: rgb(8, 255, 8)}
.health > div > div {color: red}

#turn {
	padding : 0 10px;
	border: 1px solid gray;
	margin-bottom: 50px;
	
}

#turn.p1 {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#turn.p2 {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	border-radius: inherit;
	border: 1px solid rgb(110, 110, 110);
	display: table;
}

.modal > div {
	display: table-cell;
	vertical-align: middle;
}

.modal > div > div {
	display: inline-block;
	background-color: rgb(18, 18, 18);
	border: 1px solid rgb(42, 41, 41);
	border-radius: 5px;
	box-shadow: 0px 0px 1px rgb(0, 0, 0) inset;
	padding: 20px;
}

/* slot */

#slotWrap > div > .card {
	margin-top: 6px;
}

#slotWrap > div:first-child {padding-right: 3px}
#slotWrap > div:last-child {padding-left: 3px}



/* mana menu */
.manaMenuHelp {
	background: rgba(0,0,0,0.6);
	border: 1px solid gray;
	border-radius: 3px;
	margin-right: 6px;
	padding: 4px;
	font-size: 12px;
}


.manaMenuWrap {
	margin-top: 20px;
}
.manaMenuCardWrap {
	width: 216px;
	padding-left: 6px;
	vertical-align: top;
}

.manaMenuCardWrap > div > .card {
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
	margin-bottom: 6px;
}

.manaMenu {
	width: 100%;
	border-top:0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0 0 8px 8px;
    width: 80px;
    vertical-align: top;
}

.manaMenuItem {
	text-align: center;
	width: 100%;
	cursor: pointer;
	padding-top: 8px;
	padding-bottom: 4px;
	border-top: 1px solid rgb(30, 30, 30);
	border-bottom: 1px solid rgb(0, 0, 0);
	background-color: rgb(20, 20, 20);
}
.manaMenuItem:first-child {border-top:0}
.manaMenuItem:last-child {
	border-bottom:0;
	border-radius: inherit;
}

.manaMenuItem:hover {
	background-color: rgb(15, 15, 15);
}

.manaMenuItem:hover > span {
	color: rgb(240,240,240);
}
.manaMenuItem:hover > b {
	color: rgb(0, 240, 0);
}


.manaMenuItem.active {
	background: rgb(35, 35, 35) none repeat scroll 0% 0%;
	box-shadow: 0 0 2px black inset,0 0 4px black inset,0 0 6px black inset;
	border-top-color: black
}

.manaMenuItem > span {
	display: block;
	font-size: 18px;
	color: white;
}

.manaMenuItem.active > span {
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgba(230, 230, 230, 0.1);
}

.manaMenuItem > b {
	font-weight: normal;
	font: 28px vingue;
	color: rgb(8, 255, 8);
}

.manaMenuItem.active > b {
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

/* helper */

.us-n {
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}



.d-ib {display: inline-block}
.d-t {display: table; table-layout: fixed}
.d-t > div {display: table-cell}
